<mat-toolbar>
    <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />

    <span>Home</span>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <img class="avatar mat-elevation-z8" src="https://avatars.githubusercontent.com/u/32917800?v=4" />
        <h4 class="name">Angel A. Perez Severino</h4>
        <p class="designation">Software Engineer</p>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="main/TableFilter">
            <mat-icon>home</mat-icon>
            <span>Crud</span>
        </button>
        <button mat-button class="menu-button" routerLink="main/Text">
            <mat-icon>person</mat-icon>
            <span>Text</span>
        </button>
        <button mat-button class="menu-button" routerLink="main/HomeButton">
            <mat-icon>Button</mat-icon>
            <span>Button</span>
        </button>
        <mat-divider></mat-divider>
        
        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>
    </mat-drawer>
    <mat-drawer-content>
        <div style="margin-left: 30px;" class="mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>