<mat-card>
    <form [formGroup]="contactForm" (submit)="guardar()" style="height: 280px; margin: 16px;">
        <mat-card-content>
            <div>
                <label>Nombre</label>
                <br />
                <input matInput class="toolbar-search" formControlName="nombre" required>
                <div style="color: red;"
                    *ngIf="contactForm.get('nombre')?.invalid && contactForm.get('nombre')?.touched">
                    Nombre es requerido.
                </div>
            </div>

            <div>
                <label>Apellido</label>
                <br />
                <input matInput formControlName="apellido" required>
                <div style="color: red;"
                    *ngIf="contactForm.get('apellido')?.invalid && contactForm.get('apellido')?.touched">
                    El apellido es requerido.
                </div>
            </div>

            <div>
                <label>Teléfono</label>
                <br />
                <input matInput formControlName="telefono" required>
                <div style="color: red;"
                    *ngIf="contactForm.get('telefono')?.invalid && contactForm.get('telefono')?.touched">
                    telefono es requerido.
                </div>
            </div>

            <div>
                <label>Email</label>
                <br />
                <input matInput type="email" formControlName="email" required>
                <div style="color: red;" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                    Email es requerido.
                </div>
            </div>

            <div>
                <label>Dirección</label>
                <br />
                <textarea matInput formControlName="direccion"></textarea>
                <div style="color: red;"
                    *ngIf="contactForm.get('direccion')?.invalid && contactForm.get('direccion')?.touched">
                    La direccion es requerida.
                </div>
            </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-footer>
            &nbsp;&nbsp;&nbsp;
            <button [disabled]="contactForm.invalid" mat-raised-button color="primary" type="submit">Guardar</button>
        </mat-card-footer>
    </form>
</mat-card>